<div class="backoffice-page">
  <%= render 'layouts/backoffice' %>

  <div class="container">
    <table class="table backoffice-table col-md-8">
      <tr class="backoffice-theader">
        <th>Nome</th>
        <th>Número de Refeições</th>
        <th>Cadastrada em</th>
        <th></th>
        <th></th>
      </tr>
     
      <% @meal_categories.each do |meal_category| %>
        <tr class="backoffice-tbody">
          <td class="table-text"><%= meal_category.name %></td>
          <td class="table-text"><%= meal_category.meals.length%></td>
          <td class="table-text"><%= meal_category.created_at.strftime("%d/%m/%Y")%></td>
          <td><%= link_to 'editar', edit_meal_category_path(meal_category), class: "editar"%></td>
          <td><%= link_to "excluir", meal_category_path(meal_category.id), method: :delete,  class: "excluir"%></td>
        </tr>
      <% end %>
    </table>
    <%= link_to "nova categoria de refeição", new_meal_category_path, class: "btn btn-success col-md-2 .col-md-offset-1" %>
  </div>


</div>