<h1>Listando Categorias</h1>
 <br>
<div>
<table>
  <tr>
    <th>Name</th>
  </tr>
 
  <% @meal_categories.each do |meal_category| %>
    <tr>
      <td><%= meal_category.name %></td>
      <td class="show"><%= link_to "Show", meal_category_path(meal_category.id) %></td>
      <td class="apagar"><%= link_to "Apagar", meal_category_path(meal_category.id), method: :delete %></td>
      <td class="editar"><%= link_to 'Editar', edit_meal_category_path(meal_category) %></td>
    </tr>
  <% end %>
</table>
</div>

<%= link_to "Nova Categoria", new_meal_category_path %>

