<h1>
<p>
  <%= @meal_category.name %>
</p>
</h1>
<h2> Refeições</h2>
<% @meal_category.meals.each do |meal| %>
	<p>
	  <strong>Title:</strong>
	  <%= meal.title %>
	</p>
	 
	<p>
	  <strong>Description:</strong>
	  <%= meal.description %>
	</p>

	<p>
	  <strong>Price:</strong>
	  <%= meal.price %>
	</p>
	<%= link_to 'Editar Refeição', edit_meal_category_meal_path(@meal_category, meal) %>
	<p>
	</p>
	<p>
		<%= link_to 'Apagar Refeição', [meal.meal_category, meal],
			method: :delete,
			data: {confirm: 'Você está certo disso?'} %>
	</p>
<% end %>

<h2>Adicionar uma refeição</h2>
<%= render 'meals/form' %>

<%= link_to 'Editar', edit_meal_category_path(@meal_category) %> |
<%= link_to 'Voltar', meal_categories_path %>
