<div class="backoffice-page">
  <%= render 'layouts/backoffice' %>

  <div class="container">
    <table class="table backoffice-table col-md-8">
      <tr class="backoffice-theader">
        <th>Pedido de nº</th>
        <th>Status</th>
        <th>Data</th>
        <th>Usuário</th>
        <th>Preço total</th>
        <th>Detalhes</th>
        <th></th>
        <th></th>
      </tr>
     
      <% @orders.each do |order| %>
        <tr class="backoffice-tbody">
          <td class="table-text"><%= order.id %></td>
          <td>
	          <% if order.status.nil? or order.status == 1 %>
	            <span class="label label-primary">pendente</span>
	          <% elsif order.status == 0 %>
				<span class="label label-danger">cancelado</span>
	          <% elsif order.status == 2 %>
				<span class="label label-success">entregue</span>
	          <% end %>
          </td>
          <td class="table-text"><%= order.created_at.strftime("%d/%m/%Y")%></td>
          <td class="table-text">
			<% if order.user_id.nil? %>
				<span>Visitante</span>
			<% else %>
          		<%= User.find(order.user_id).username %>
			<% end %>
          </td>
          <td class="table-text"><%= number_to_currency(order.price, :unit => "R$ ", :separator => ",", :delimiter => ".") %></td>
          <td><%= link_to 'ver itens pedidos', orders_path, class: "ver"%></td>
          <td><%= link_to 'editar', edit_order_path(order), class: "editar"%></td>
          <td><%= link_to "excluir", order_path(order.id), method: :delete,  class: "excluir"%></td>
        </tr>
      <% end %>
    </table>
  </div>


</div>