<div class="backoffice-page">
  <%= render 'layouts/backoffice' %>


  <div class="container">  
    <div>
      <% @meals.each do |meal| %>
        <div class="backoffice-meal panel panel-default">
        <% if meal.available == false %>
          <%= cl_image_tag(meal.picture, :crop => :fill, :height => 180, class: "image-meal unavailable-meal") %>
          <span class=unavailable>Refeição indisponível</span>
        <% else %>
          <%= cl_image_tag(meal.picture, :crop => :fill, :height => 180, class: "image-meal") %>
        <% end %>
          <div class="name"><%= meal.title %></div>
          <div class="body">
            <p class="description"><%= meal.description %></p>
            <p class="price"><%= number_to_currency(meal.price, :unit => "R$ ", :separator => ",", :delimiter => ".") %> por porção</p>
            <p><%= link_to 'editar', edit_meal_path(meal), class: "btn btn-sm btn-warning opt-meal" %>
            <%= link_to "apagar", meal_path(meal.id), method: :delete, class: "btn btn-sm btn-danger opt-meal" %></p>
          </div>
        </div>
      <% end %>
    </div>
    <br>
    <%= link_to "nova refeição", new_meal_path, class: "meal-button btn btn-success col-md-2 .col-md-offset-1" %>
  </div>
    <br>
</div>

