<%= form_with scope: :meal, url: articles_path, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.label :price %><br>
    <%= form.text_area :price %>
  </p>

  <p>
    <%= form.label :category %><br>
    <%= form.text_area :category %>
  </p>
 
 
  <p>
    <%= form.submit %>
  </p>
<% end %>