<p>
  <strong>Title:</strong>
  <%= @meal.title %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @meal.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @meal.price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @meal.category %>
</p>
	<% unless @meal.picture_url.nil? %><%= image_tag @meal.picture_url %><br /><% end %>
