<p>
  <strong>Title:</strong>
  <%= @meal.title %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @meal.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @meal.price %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @meal.meal_category.id %>
  <%= @meal.meal_category.name %>
</p>

	<% unless @meal.picture_url.nil? %><%= image_tag @meal.picture_url %><br /><% end %>

